@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --brand-blue: #009FE3;
    --brand-green: #00B359;
    --brand-black: #080808;

    --bg-color: #0b0d10;
    --card-bg: #151922;

    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
}

body {
    background: var(--brand-black);
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

img {
    height: 100%;
    margin-top: 15px;
}

ul {
    height: 100%;
    display: flex;
    list-style: none;
    gap: 20px;
}

ul a {
    color: var(--text-primary);
    text-decoration: none;
    transition: color .2s;
}

ul a:hover {
    color: var(--brand-blue);
}

.banner {
    background: linear-gradient(135deg, rgb(from var(--brand-blue) r g b / .4), rgb(from var(--brand-green) r g b / .4));
    display: flex;
    height: 300px;
    width: 96vw;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.banner h1 {
    width: 500px;
    color: var(--text-primary);
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.banner p {
    color: var(--text-primary);
    padding-top: 0;
    font-weight: 300;
}

.banner a {
    background: linear-gradient(to right, rgb(from var(--brand-blue) r g b / .9), rgb(from var(--brand-green) r g b / .9));
    color: var(--text-primary);
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;

    position: relative;
    z-index: 1;
    transition: all 0.3s ease
}

.banner a::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background: linear-gradient(135deg, var(--brand-blue), var(--brand-green));
    border-radius: inherit;


    opacity: 0;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.banner a:hover {
    transform: scale (1.05);

    box-shadow: 0px 0px 15px var(--brand-green);
}

.banner a:hover::before {
    opacity: 1;
    filter: blur(15px); 
}

.services-container {
    display: grid;
    grid-template: 40px 1fr / repeat(4, 230px);
    justify-content: center;
    gap: 0 20px;
}

.services-item i {
    display: inline-block;
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;

    background: linear-gradient(135deg, var(--brand-blue), var(--brand-green));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;


}

.services-container h2, h3 {
    color: var(--text-primary);
}

.services-container h2 {
    grid-column: 2 / 4;
    justify-self: center;
}

.services-container p {
    color: var(--text-secondary);
    grid-column: 2 / 4;
    text-align: center;
}

.services-item {
    background: var(--card-bg);
    padding: 10px;
    margin-top: 20px;
    grid-row: 3;
    border-radius: 8px;
    position: relative; 
    overflow: hidden;
}

.services-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 6px;
    background: linear-gradient(90deg, var(--brand-blue), var(--brand-green));
}

.services-item h3 {
    width: 160px;
    margin-top: 10px;
}

.services-item p {
    margin-top: 6px;
    text-align: left;
}