@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --brand-blue: #009FE3;
    --brand-green: #00B359;
    --brand-black: #080808;

    --bg-color: #0b0d10;
    --card-bg: #151922;

    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
}

body {
    background: var(--brand-black);
}

header {
    height: 70px;
    display: flex;
    background: var(--brand-black);
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

img {
    display: block;
    height: 60%;
    width: auto;
    margin-top: 0;
}

ul {
    height: 100%;
    display: flex;
    list-style: none;
    gap: 20px;
}

ul a {
    color: var(--text-primary);
    text-decoration: none;
    transition: color .2s;
}

ul a:hover {
    color: var(--brand-blue);
}

.banner {
    background: linear-gradient(135deg, rgb(from var(--brand-blue) r g b / .4), rgb(from var(--brand-green) r g b / .4));
    display: flex;
    height: 300px;
    width: 96vw;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.banner h1 {
    width: 650px;
    color: var(--text-primary);
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.banner p {
    color: var(--text-primary);
    padding-top: 0;
    font-weight: 300;
}

.banner a {
    background: linear-gradient(to right, rgb(from var(--brand-blue) r g b / .9), rgb(from var(--brand-green) r g b / .9));
    color: var(--text-primary);
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;

    position: relative;
    z-index: 1;
    transition: all 0.3s ease
}

.banner a::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background: linear-gradient(135deg, var(--brand-blue), var(--brand-green));
    border-radius: inherit;


    opacity: 0;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.banner a:hover {
    transform: scale (1.05);

    box-shadow: 0px 0px 15px var(--brand-green);
}

.banner a:hover::before {
    opacity: 1;
    filter: blur(15px); 
}

.services-container {
    display: grid;
    grid-template: 40px 1fr / repeat(4, 20vw);
    justify-content: center;
    gap: 0 20px;
}

.services-container h2, h3 {
    color: var(--text-primary);
}

.services-container h2 {
    grid-column: 2 / 4;
    justify-self: center;
}

.services-container p {
    color: var(--text-secondary);
    padding: 5px 0 20px;
    grid-column: 2 / 4;
    text-align: center;
}

.services-item {
    background: var(--card-bg);
    padding: 10px;
    margin-top: 20px;
    grid-row: 3;
    border-radius: 8px;
    position: relative; 
    overflow: hidden;
}

.services-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 6px;
    background: linear-gradient(90deg, var(--brand-blue), var(--brand-green));
}

.services-item i {
    display: inline-block;
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;

    background: linear-gradient(135deg, var(--brand-blue), var(--brand-green));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.services-item h3 {
    width: 160px;
    margin-top: 10px;
}

.services-item p {
    margin-top: 6px;
    text-align: left;
}

.quemsomos-container {
    background: var(--card-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px 40px;
    margin-top: 60px;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.quemsomos-container h2 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    color: var(--text-primary);
    font-weight: 600;
    font-size: 2rem;
}

.quemsomos-container p {
    grid-row: 2 / -1;
    align-self: start;
    color: var(--text-secondary);
    font-size: 1.1rem;
    line-height: 1.6;
}

.quemsomos-container span {
    text-decoration: underline;
    font-weight: 500;
}

.quemsomos-container a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
}

span a:hover {
    color: var(--brand-blue);
}

.contato-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    padding: 40px;
    margin-top: 30px;
    color: var(--text-primary);
}

.contato-container p {
    color: var(--text-secondary);
    font-size: 1rem;
    margin-left: 10px;
}

.contato-item h3 {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.contato-item i {
    font-size: 1.7rem;

    background: linear-gradient(135deg, var(--brand-blue), var(--brand-green));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contato-item a {
    text-decoration: none;
}

hr {
    height: 1px;
    width: 95vw;
    background: var(--text-secondary);
    margin: 20px auto;
    border: 0;
}

footer {
    color: var(--text-secondary);
    padding: 20px;
}



@media (max-width: 768px) {

    header {
        padding: 0 20px;
    }

    .banner {
        width: 90vw;
    }

    .banner h1 {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .banner p {
        font-size: 0.9rem;
    }

    .services-container {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 20px;
        align-items: center;
    }

    .services-item {
        background-color: var(--card-bg);
        width: 100%;
        max-width: 350px;
        padding: 20px;
        border-radius: 10px;
        min-height: auto; 
    }

    .quemsomos-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .quemsomos-container h2 {
        font-size: 1.8rem;
    }

    .quemsomos-container p {
        font-size: 1rem;
        line-height: 1.5;
        text-align: justify;
    }

    .contato-container {
        grid-template-columns: 1fr;
        margin-left: 0;
        padding: 20px;
    }
}